//FUENTES 
$fuente-principal: 'Raleway', sans-serif;
$fuente-secundaria: 'Roboto', sans-serif;
$fuente-cursiva: 'Bona Nova', serif;


// MEDIA QUERIES 
$telefono : 480px;
$tablet : 768px;
$desktop : 1024px; 


// COLORES
$primario : #5e311e;
$secundario : #c39c63;
$negro: #000;
$blanco: #fff;
$grisClaro : #eceeef;
$cafeClaro :#ebe7de;


// UNIDADES 
$separacion: 5rem;